{% extends 'base.html.twig' %}

{% block title %}
	FIRSTCOM - Créateur de valeurs
{% endblock %}

{% block body %}

<section id="container1">
	<div class="row contact_page">
		<div class="col-lg-7 col-sm-7 col-xs-12 col-12 d-flex flex-column justify-content-center div-titre">
			<h1 class="card-home-title">CREATEUR DE VALEURS, ACCELERATEUR DE</h1>
			<h2><span class="typed-text"></span><span class="cursor">&nbsp;</span></h2>
		</div>
		<div class="col-lg-5 col-sm-5 col-xs-12 col-12 d-flex justify-content-end align-items-center div-img">
			<img class="image_king" src="{{ asset('uploads/images/qmcd.png') }}">
		</div>
	</div>
</section>

<section class="mask_contact">
	<img class="" src="{{ asset('uploads/images/fl23.png') }}">
</section>

<div class="container-fluid">
	<div class="row blocks-acceuil">
		<div class="col-sm-12 col-md-12 mb-4">
			<h3 class="title-home-part1">FIRSTCOM, AU SERVICE DE LA PERFORMANCE DES MARQUES</h3>
		</div>
		<a href="{{ path('app_conseil') }}" class="col-12 col-xs-6 col-sm-3 p-4 border-dashed-desktopright-mobilebottom lien-actif-x">
			<p class="cartouche-home">CONSEIL ET STRATÉGIE</p>
			<p class="text-courant-mini">Prendre de la hauteur pour envisager sereinement son développement, clarifier son offre pour mieux la vendre, et garder la tête froide en temps de crise.</p>
			<p class="card-text-home mt-2 uppercase">On a tous besoin d'un mazarin à ses côtés.</p>
			<img src="{{ asset('uploads/images/fleche-right.webp') }}" alt="Flèche pointant à droite" class="fleche">
		</a>
		<a href="{{ path('app_croissance') }}" class="col-12 col-xs-6 col-sm-3 p-4 border-dashed-desktopright-mobilebottom lien-actif-x">
			<p class="cartouche-home">CROISSANCE ET PERFORMANCE</p>
			<p class="text-courant-mini">Connaitre tous les leviers de croissance sur le bout des doigts, même ceux qui n’existent pas encore, pour piloter votre performance digitale.</p>
			<p class="card-text-home mt-2 uppercase">Qui a dit que les arbres ne montaient pas au ciel ?</p>
			<img src="{{ asset('uploads/images/fleche-right.webp') }}" alt="Flèche pointant à droite" class="fleche">
		</a>
		<a href="{{ path('app_contenus') }}" class="col-12 col-xs-6 col-sm-3 p-4 border-dashed-desktopright-mobilebottom lien-actif-x">
			<p class="cartouche-home">CRÉATION DE CONTENUS</p>
			<p class="text-courant-mini">Raconter votre entreprise et vos produits avec un clavier ou une caméra, un appareil photo ou un stylo numérique pour un storytelling impactant.</p>
			<p class="card-text-home mt-2 uppercase">Soyez honnête, qui autour de vous sait (vraiment) écrire ?</p>
			<img src="{{ asset('uploads/images/fleche-right.webp') }}" alt="Flèche pointant à droite" class="fleche">
		</a>
		<a href="{{ path('app_tech_digital') }}" class="col-12 col-xs-6 col-sm-3 p-4 lien-actif-x">
			<p class="cartouche-home">TECH & DIGITAL</p>
			<p class="text-courant-mini">En plus de créer des sites web jolis et qui donnent envie de cliquer partout, on aime plus que tout s’attaquer à des développements complexes destinés à vous rendre la vie facile.</p>
			<p class="card-text-home mt-2 uppercase">Et chez vous, y a quoi à digitaliser ?</p>
			<img src="{{ asset('uploads/images/fleche-right.webp') }}" alt="Flèche pointant à droite" class="fleche">
		</a>
	</div>
</div>

<div class="container-large-plus background-basic-green py-5">
	<div class="owl-carousel owl-carousel-1 py-4">
		<div>
			<img src="{{ asset('uploads/images/logos-clients/glastint.svg') }}" alt="Logo Glastint">
		</div>
		<div>
			<img src="{{ asset('uploads/images/logos-clients/maytronics.svg') }}" alt="Logo Maytronics">
		</div>
		<div>
			<img src="{{ asset('uploads/images/logos-clients/everblue.svg') }}" alt="Logo Everblue">
		</div>
		<div>
			<img src="{{ asset('uploads/images/logos-clients/Talenz.svg') }}" alt="Logo Talenz">
		</div>
		<div>
			<img src="{{ asset('uploads/images/logos-clients/orange-business-ocean.svg') }}" alt="Logo Orange Business Océan">
		</div>
		<div>
			<img src="{{ asset('uploads/images/logos-clients/rentokil-initial.svg') }}" alt="Logo Rentokil Initial">
		</div>
		<div>
			<img src="{{ asset('uploads/images/logos-clients/ecf.svg') }}" alt="Logo ECF">
		</div>
		<div>
			<img src="{{ asset('uploads/images/logos-clients/Uber-Eats.svg') }}" alt="Logo Uber Eats">
		</div>
		<div>
			<img src="{{ asset('uploads/images/logos-clients/club-marseille-metropole.svg') }}" alt="Logo Club Marseille Métropole">
		</div>
		<div>
			<img src="{{ asset('uploads/images/logos-clients/ambius.svg') }}" alt="Logo Ambius">
		</div>
		{# <div>
			<img src="{{ asset('uploads/images/logos-clients/best-of-land.svg') }}" alt="Logo Best of Land">
		</div> #}
		{# <div>
			<img src="{{ asset('uploads/images/logos-clients/d-business-design.svg') }}" alt="Logo Business Design">
		</div>
		<div>
			<img src="{{ asset('uploads/images/logos-clients/la-ciotat-shipyards.svg') }}" alt="Logo La Ciotat Shipyards">
		</div> #}
		<div>
			<img src="{{ asset('uploads/images/logos-clients/Lilly.svg') }}" alt="Logo Lilly">
		</div>
		<div>
			<img src="{{ asset('uploads/images/logos-clients/porcher.svg') }}" alt="Logo Porcher">
		</div>
		<div>
			<img src="{{ asset('uploads/images/logos-clients/SIT-Location.svg') }}" alt="Logo SIT Location">
		</div>
	</div>
</div>


<div class="container-medium">
	<div class="row">
		<a href="{{ path('app_contact') }}" class="row text-decoration-none lien-actif-x border-dashed-desktopnone-mobilebottom ">
			<div class="row py-5">
				<div class="col-12 col-sm-11">
					<h3 class="card-title-home-page">NOTRE APPROCHE</h3>
					<p class="card-text-home">QUE VOUS SOYEZ UN LEADER QUI COMPTE BIEN LE RESTER, UN PETIT POUCET À L’APPÉTIT FÉROCE OU UN CHALLENGER À L’AMBITION FOLLE...</p>
					<p class="card-text-mini-home">
						Quels que soient votre secteur d’activité, votre taille, vos cibles, les produits ou services que vous développez ou distribuez, les plus géniaux ou les plus improbables, vous êtes tous (oui, vous aussi) soumis aux mêmes besoins...</p>
				</div>
				<div class="col-12 col-sm-1 fleche">
					<img src="{{ asset('uploads/images/axh1.png') }}">
				</div>
			</div>
		</a>

		<a href="{{ path('app_agence') }}" class="row text-decoration-none lien-actif-x border-dashed-desktopnone-mobilebottom ">
			<div class="row py-5">
				<div class="col-12 col-sm-11">
					<h3 class="card-title-home-page">ABOUT</h3>
					<p class="card-text-home">AGENCE CONSEIL, TECH ET MARKETING FULL-SERVICE, FIRSTCOM SE POSITIONNE COMME VOTRE PARTENAIRE PRIVILÉGIÉ ET VOUS ACCOMPAGNE SUR VOS PROBLÉMATIQUES DE POSITIONNEMENT ET DE CROISSANCE.</p>
					<p class="card-text-mini-home">
						A la croisée des métiers du design/UX, des algorithmes qui régissent nos vies, de l’IA qui arrive en force, du e-business, des langages de programmations... notre team se forme au quotidien pour délivrer le meilleur des services, dans un monde digital en perpétuelle évolution.</p>
				</div>
				<div class="col-12 col-sm-1 fleche">
					<img src="{{ asset('uploads/images/axh1.png') }}">
				</div>
			</div>
		</a>
	</div>
</div>

{# <div class="container-medium">

</div> #}

<div class="container-medium blog-home">
	<div class="row pt-5">
		<div class="col-12 col-sm-11">
			<h3 class="card-title-home-page">BLOG</h3>
		</div>
		<div class="col-12 col-sm-1 fleche d-md-none d-lg-flex"></div>
	</div>

	<div class="owl-carousel owl-carousel-2 pt-2 pb-5">

		{% if articles %}
			{% for article in articles %}
				<a href="{{ path('app_article_show', {
							'id': article.id,
							'slug': article.titre | striptags | slug | lower
						}) }}" class="article-home text-decoration-none mb-4">

					<div class="article-home-img" style="background-image: url('{{ asset('uploads/images/' ~ article.imgS) }}'); background-repeat: no-repeat; background-size: cover; background-position: center; display: flex; justify-content: center; align-items: center; border: 8px solid #96A596;"></div>
					<div class="infos mt-3">
						<span class="date">{{ article.dateCreation | date('d m Y') }}</span>
						{% for categorie in article.categorie %}
							<span class="categories">{{ categorie.nom }}</span>
						{% endfor %}
					</div>

					<div class="mt-3">
						<h3 class="article-home-h3">{{ article.titre | raw }}</h3>
					</div>

					<div class="mt-3">
						{{ article.descriptionCourte | split(' ') | slice(0, 15) | join(' ') | raw }} ...
					</div>

				</a>
			{% endfor %}
		{% endif %}

	</div>
</div>

{% endblock %}