{% extends 'base.html.twig' %}

{% block meta_description %}
    <meta name="description" content="Créateur de valeurs, accélérateur de croissance. Firstcom une task force au service des performances de votre entreprise et de votre croissance digitale.">
{% endblock %}

{% block title %}
	Agence de communication à Marseille et Paris : le conseil, la stratégie et le Full-Service
{% endblock %}

{% block body %}

<section id="container1">
	<div class="row contact_page">
		<div class="col-lg-7 col-sm-7 col-xs-12 col-12 d-flex flex-column justify-content-center div-titre">
			<h1 class="card-home-title">CRÉATEUR DE VALEURS, ACCÉLÉRATEUR DE</h1>
			<h2><span class="typed-text"></span><span class="cursor">&nbsp;</span></h2>
		</div>
		<div class="col-lg-5 col-sm-5 col-xs-12 col-12 d-flex justify-content-end align-items-center div-img">
			<img class="image_king" src="{{ asset('uploads/images/qmcd.png') }}">
		</div>
	</div>
</section>

<section class="mask_contact">
	<img class="" src="{{ asset('uploads/images/fl23.png') }}">
</section>

<div class="container-fluid">
	<div class="row blocks-acceuil">
		<div class="col-sm-12 col-md-12 pt-4 ms-2 mb-4">
			<h3 class="title-home-part1 text-center">FIRSTCOM, AU SERVICE DE LA PERFORMANCE DES MARQUES</h3>
		</div>
		<a href="{{ path('app_conseil') }}" class="col-12 col-xs-6 col-sm-3 p-4 border-dashed-desktopright-mobilebottom lien-actif-x">
			<p class="cartouche-home">CONSEIL ET STRATÉGIE</p>
			<p class="text-courant-mini">Prendre de la hauteur pour envisager sereinement son développement, clarifier son offre pour mieux la vendre, et garder la tête froide en temps de crise.</p>
			<p class="card-text-home mt-2 uppercase">On a tous besoin d'un mazarin à ses côtés.</p>
			<img src="{{ asset('uploads/images/fleche-right.webp') }}" alt="Flèche pointant à droite" class="fleche">
		</a>
		<a href="{{ path('app_croissance') }}" class="col-12 col-xs-6 col-sm-3 p-4 border-dashed-desktopright-mobilebottom lien-actif-x">
			<p class="cartouche-home">CROISSANCE ET PERFORMANCE</p>
			<p class="text-courant-mini">Connaitre tous les leviers de croissance sur le bout des doigts, même ceux qui n’existent pas encore, pour piloter votre performance digitale.</p>
			<p class="card-text-home mt-2 uppercase">Qui a dit que les arbres ne montaient pas au ciel ?</p>
			<img src="{{ asset('uploads/images/fleche-right.webp') }}" alt="Flèche pointant à droite" class="fleche">
		</a>
		<a href="{{ path('app_contenus') }}" class="col-12 col-xs-6 col-sm-3 p-4 border-dashed-desktopright-mobilebottom lien-actif-x">
			<p class="cartouche-home">CRÉATION DE CONTENUS</p>
			<p class="text-courant-mini">Raconter votre entreprise et vos produits avec un clavier ou une caméra, un appareil photo ou un stylo numérique pour un storytelling impactant.</p>
			<p class="card-text-home mt-2 uppercase">Soyez honnête, qui autour de vous sait (vraiment) écrire ?</p>
			<img src="{{ asset('uploads/images/fleche-right.webp') }}" alt="Flèche pointant à droite" class="fleche">
		</a>
		<a href="{{ path('app_tech_digital') }}" class="col-12 col-xs-6 col-sm-3 p-4 lien-actif-x">
			<p class="cartouche-home">TECH & DIGITAL</p>
			<p class="text-courant-mini">En plus de créer des sites web jolis et qui donnent envie de cliquer partout, on aime plus que tout s’attaquer à des développements complexes destinés à vous rendre la vie facile.</p>
			<p class="card-text-home mt-2 uppercase">Et chez vous, y a quoi à digitaliser ?</p>
			<img src="{{ asset('uploads/images/fleche-right.webp') }}" alt="Flèche pointant à droite" class="fleche">
		</a>
	</div>
</div>

<div class="container-large-plus background-basic-green" style="height:73vh;padding:1.5em">
	<div class="carousel">
		<div class="references-container">
			{% if references %}
				{% for reference in references %}
					<div class="reference" style="background-image: url('{{ asset('uploads/images/' ~ reference.image) }}'); }}">
						<div class="reference-text">
							<h3 class="writeWhite" style="text-transform:none; margin:0">{{ reference.titre }}</h3>
							<div class="infos">
								{% for categorie in reference.categorie %}
									<span class="categories">{{ categorie.nom }}</span>
								{% endfor %}
							</div>	
							<p class="writeWhite">{{ reference.descriptif | striptags | raw }}</p>
							<a href="#" aria-label="En savoir plus">
								<span>+</span>
							</a>	
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
		<div class="filter-right">
			<div class="dark-overlay"></div>

			<div class="content-overlay">
				<div id="right-arrow" aria-label="Bouton référence suivante">
					<img src="{{ asset('uploads/images/axh1.png') }}">
				</div>
			</div>	
		</div>
	</div>
</div>

<style>


	#btn_go_back{
		background-color: #fff;
		cursor: pointer;
		border: none;
		color: #3c4141;
		display: block;
		font-family: Open Sans, sans-serif;
		font-weight: 600;
		margin: 25px auto;
		padding: 12px;
		width: 12em;
	}

	a[aria-label="En savoir plus"] {
		margin-top: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		/*font-size: 2rem;*/
		color: black;
		background-color: white;
		width: 35px; /* Largeur du carré */
		height: 35px; /* Hauteur du carré égale à la largeur */
	}

	a[aria-label="En savoir plus"] > span{
		font-size: 1.5rem;
		vertical-align: middle;
	}

	.filter-right {
		width: 30%; /* Prend 30% de la largeur du carousel */
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: transparent; /* Fond transparent pour voir les éléments en dessous */
	}

	.dark-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5); /* Noir avec opacité de 50% */
		pointer-events: none; /* Désactive les interactions pour l'overlay */
		z-index: 1;
	}

	.content-overlay {
		display:  flex;
		justify-content: flex-end;
		align-items: center;
		position: relative;
		z-index: 2; /* S'affiche par-dessus l'overlay sombre */
		color: white; /* Pour que le texte soit visible sur le fond sombre */
		height:100%
	}


	#right-arrow{
		cursor: pointer;
		margin-right: 20px;
	}


	.carousel {
		width: 100%; /* Width of carousel */
  		height: 100%
	}

	.references-container {
		width: 100%; /* Width of card container */
		height: 100%;
		display: flex; /* Set inline elements */
		overflow : auto
	}

	.references-container::-webkit-scrollbar {
		display: none; /* Hide scrollbar in Chrome, Safari and Opera */
	}

	.reference-text {
		margin: 35px;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.reference {
		min-width: 70%;
		display: flex; 
		flex-direction: column;
		justify-content: flex-end;
		background-size: cover; 
		background-repeat: no-repeat;
	}

	.references-container {
		/* ... */
		overflow-x: auto; /* Set overflow in horizontal scroll */
		overflow-y: hidden; /* Hidden overflow in vertical scroll */
		scroll-snap-type: x mandatory; /* Force the scroll to snap to the start of a scroll-snap area */
	}

	.reference {
		/* ... */
		scroll-snap-align: start; /* Set the element focus position in scroll container */
	}


</style>


<div class="container-medium">
	<div class="row">
		<a href="{{ path('app_contact') }}" class="row text-decoration-none lien-actif-x border-dashed-desktopnone-mobilebottom ">
			<div class="row py-5">
				<div class="col-12 col-sm-11">
					<h3 class="card-title-home-page">NOTRE APPROCHE</h3>
					<p class="card-text-home">QUE VOUS SOYEZ UN LEADER QUI COMPTE BIEN LE RESTER, UN PETIT POUCET À L’APPÉTIT FÉROCE OU UN CHALLENGER À L’AMBITION FOLLE...</p>
					<p class="card-text-mini-home">
						Quels que soient votre secteur d’activité, votre taille, vos cibles, les produits ou services que vous développez ou distribuez, les plus géniaux ou les plus improbables, vous êtes tous (oui, vous aussi) soumis aux mêmes besoins...</p>
				</div>
				<div class="col-12 col-sm-1 fleche">
					<img src="{{ asset('uploads/images/axh1.png') }}">
				</div>
			</div>
		</a>

		<a href="{{ path('app_agence') }}" class="row text-decoration-none lien-actif-x border-dashed-desktopnone-mobilebottom ">
			<div class="row py-5">
				<div class="col-12 col-sm-11">
					<h3 class="card-title-home-page">ABOUT</h3>
					<p class="card-text-home">AGENCE CONSEIL, TECH ET MARKETING FULL-SERVICE, FIRSTCOM SE POSITIONNE COMME VOTRE PARTENAIRE PRIVILÉGIÉ ET VOUS ACCOMPAGNE SUR VOS PROBLÉMATIQUES DE POSITIONNEMENT ET DE CROISSANCE.</p>
					<p class="card-text-mini-home">
						A la croisée des métiers du design/UX, des algorithmes qui régissent nos vies, de l’IA qui arrive en force, du e-business, des langages de programmations... notre team se forme au quotidien pour délivrer le meilleur des services, dans un monde digital en perpétuelle évolution.</p>
				</div>
				<div class="col-12 col-sm-1 fleche">
					<img src="{{ asset('uploads/images/axh1.png') }}">
				</div>
			</div>
		</a>
	</div>
</div>

{# <div class="container-medium">

</div> #}

<div class="container-medium blog-home">
	<div class="row pt-5">
		<div class="col-12 col-sm-11">
			<h3 class="card-title-home-page">BLOG</h3>
		</div>
		<div class="col-12 col-sm-1 fleche d-md-none d-lg-flex"></div>
	</div>

	<div class="owl-carousel owl-carousel-2 pt-2 pb-5">

		{% if articles %}
			{% for article in articles %}
				<a href="{{ path('app_article_show', {
							'id': article.id,
							'slug': article.titre | striptags | slug | lower
						}) }}" class="article-home text-decoration-none mb-4">

					<div class="article-home-img" style="background-image: url('{{ asset('uploads/images/' ~ article.imgS) }}'); background-repeat: no-repeat; background-size: cover; background-position: center; display: flex; justify-content: center; align-items: center; border: 8px solid #96A596;"></div>
					<div class="infos mt-3">
						<span class="date">{{ article.dateCreation | date('d m Y') }}</span>
						{% for categorie in article.categorie %}
							<span class="categories">{{ categorie.nom }}</span>
						{% endfor %}
					</div>

					<div class="mt-3">
						<h3 class="article-home-h3">{{ article.titre | raw }}</h3>
					</div>

					<div class="mt-3">
						{{ article.descriptionCourte | split(' ') | slice(0, 15) | join(' ') | raw }} ...
					</div>

				</a>
			{% endfor %}
		{% endif %}

	</div>
</div>

<div class="container-medium background-basic-green pt-5">
	<div class="row">
		<div class="col-sm-12 col-md-12 ms-2 mb-5">
			<h1 class="h4-mini writeWhite text-start">Firstcom, une agence de communication implantée à Marseille et Paris </h1>
			<p class="texte-courant-mini writeWhite">L'importance de travailler avec une <strong>agence de communication</strong> efficace à Marseille et Paris ne peut être sous-estimée dans le monde numérique d'aujourd'hui. Quelle que soit votre activité le conseil d’une agence de communication expérimentée peut transformer votre visibilité en ligne et hors ligne. La communication est un art complexe qui comprend différents métiers qu’il faut savoir parfaitement orchestrer.</p>
		</div>
		<div class="col-sm-12 col-md-12 ms-2 mb-5">
			<h2 class="h4-micro writeWhite mb-1"><a href="{{ path('app_agence_strategie_de_communication_digitale') }}" class="writeWhite">Stratégies de communication digitale</a></h2>
			<p class="texte-courant-mini writeWhite">Une stratégie de communication digitale bien conçue est essentielle pour maximiser votre visibilité en ligne. Cela inclut une analyse approfondie des tendances du marché, l'identification des mots-clés pertinents et l'optimisation technique et du contenu de votre site web. Que ce soit pour les moteurs de recherche (SEO) ou pour la création de campagnes (SEA/SMA) notre agence de communication à Marseille et Paris, est spécialisée dans l'élaboration de stratégies digitales robustes qui augmentent le trafic qualifié et renforcent l'autorité de votre marque en ligne.</p>
		</div>
		<div class="col-sm-12 col-md-12 ms-2 mb-5">
			<h2 class="h4-micro writeWhite mb-1"><a href="{{ path('app_agence_campagnes_publicitaires_et_marketing') }}" class="writeWhite">Campagnes publicitaires et marketing</a></h2>
			<p class="texte-courant-mini writeWhite">Les campagnes publicitaires bien ciblées sont un autre pilier des services proposés par Firstcom.</p>
			<p class="texte-courant-mini writeWhite">Elles exploitent les plateformes publicitaires on et offline les plus pertinentes par rapport à votre activité pour atteindre votre audience cible et maximiser votre retour sur investissement.</p>
		</div>
		<div class="col-sm-12 col-md-12 ms-2 mb-5">
			<h2 class="h4-micro writeWhite writeWhite mb-1"><a href="{{ path('app_agence_creation_et_gestion_de_contenu') }}" class="writeWhite">Création et gestion de contenus</a></h2>
			<p class="texte-courant-mini writeWhite writeWhite">La création de contenu optimisé est cruciale pour captiver votre audience et améliorer la lisibilité et mémorisation de vos messages. Une équipe expérimentée de rédacteurs est à la disposition de nos clients aussi bien pour des contenus SEO que pour des messages de campagne. Nos concepteurs rédacteurs produisent un contenu engageant, allant au-delà des simples mots pour amplifier vos messages. Cela inclut également la gestion des réseaux sociaux, la création de blogs, et la mise en place de campagnes d'emailing.</p>
		</div>
		<div class="col-sm-12 col-md-12 ms-2 mb-5">
			<h2 class="h4-micro writeWhite writeWhite mb-1">Design graphique et branding</h2>
			<p class="texte-courant-mini writeWhite writeWhite">La création au sens large du terme a toujours fait la différence entre une campagne plate et une campagne performante et réussie. Un design graphique percutant est essentiel pour établir une identité visuelle forte.</p>
			<p class="texte-courant-mini writeWhite writeWhite">Notre agence de communication compte parmi ses collaborateurs des graphistes et directeurs artistiques talentueux qui créent des designs attrayants et cohérents avec votre marque. Cela inclut la conception de logos, de supports marketing, et de visuels pour les réseaux sociaux entre autres.</p>
		</div>
		<div class="col-sm-12 col-md-12 ms-2 mb-5">
			<h2 class="h4-micro writeWhite mb-1"><a href="{{ path('app_tech_digital_sites_web') }}" class="writeWhite">Création site internet UX/UI Design et Développement Web </a></h2>
			<p class="texte-courant-mini writeWhite">Notre agence web à Marseille et Paris offre également des services de création de site internet.</p>
                        <p class="texte-courant-mini writeWhite">Notre métier est de développer des sites web intuitifs et performants, optimisés pour offrir une expérience utilisateur exceptionnelle. L'UX/UI design est un aspect crucial, garantissant que votre site est non seulement attrayant, mais aussi facile à naviguer pour les utilisateurs.</p>
		</div>
		<div class="col-sm-12 col-md-12 ms-2 mb-5">
			<h2 class="h4-micro writeWhite mb-1"><a href="{{ path('app_agence_data_marketing') }}" class="writeWhite">Analyse et optimisation</a></h2>
			<p class="texte-courant-mini writeWhite">L'analyse et l'optimisation continues sont essentielles pour mesurer l'efficacité de la stratégie de communication mise en place. Nous utilisons des outils d'analyse avancés pour suivre les performances de vos campagnes et ajuster la stratégie en conséquence. Cela garantit à nos clients de rester compétitifs et de continuer à croître dans un environnement en constante évolution.</p>
		</div>
	</div>
</div>

<script>

// Script pour le carousel des références


const referenceContainer = document.querySelector(".references-container")
const rightArrow = document.getElementById("right-arrow")
const contentOverlay = document.querySelector(".content-overlay")


let indexReference = 1

const backToFirstRef = (e) => {
	indexReference = 1;
	referenceContainer.scrollTo({left: 0, behavior: "smooth"})
	e.target.remove()
}

rightArrow.addEventListener("click", () => {
	const scrollLeft = indexReference * document.querySelector(".reference").offsetWidth
	referenceContainer.scrollTo({left: scrollLeft, behavior: "smooth"})
	indexReference++
	if (indexReference === 2){
		const goBackButton = document.createElement("button");
		goBackButton.setAttribute("id","btn_go_back");
		goBackButton.textContent = "Retour en arrière";
		goBackButton.addEventListener("click", backToFirstRef)
		contentOverlay.prepend(goBackButton);
	}
} )

// Désactiver le défilement horizontal (axe X) uniquement
referenceContainer.addEventListener('wheel', (event) => {
    if (event.deltaX !== 0) {
        event.preventDefault(); // Empêche le défilement horizontal
    }
}, { passive: false });

// Désactiver le défilement horizontal pour le pavé tactile et les appareils tactiles
referenceContainer.addEventListener('touchmove', (event) => {
	event.preventDefault()
    const startX = event.touches[0].clientX;
    const startY = event.touches[0].clientY;

    // Détecter la direction du mouvement
    referenceContainer.addEventListener('touchmove', (moveEvent) => {
        const diffX = moveEvent.touches[0].clientX - startX;
        const diffY = moveEvent.touches[0].clientY - startY;

        // Empêcher le défilement si le mouvement est plus horizontal que vertical
        if (Math.abs(diffX) > Math.abs(diffY)) {
            moveEvent.preventDefault();
        }
    }, { passive: false });
});
</script>

{% endblock %}
