{% extends 'base.html.twig' %}

{% block meta_description %}
	<meta name="description" content="Where to play, how to win? Firstcom travaille à vos côté sur les modèles de développement online ou offline les plus pertinents pour votre entreprise.">
{% endblock %}

{% block title %}
	{{"Conseil en développement d'entreprise : définir votre terrain de jeu"|trans}}
{% endblock %}

{% block body %}

	<section id="container3">
		<div class="row contact_page">
			<div class="col-md-4 col-12 contact_part1">
				<img class="image_blondie" src="{{ asset('uploads/images/consulting.webp') }}">
			</div>
			<div class="col-md-4 col-12 contact_part2">
				<div class="fil_ariane">
					<a href="{{ path('app_home') }}">FIRSTCOM</a>
					|
					<a href="{{ path('app_conseil') }}">{{ "CONSEIL ET STRATÉGIE"|trans }}</a>
					|
					<span>{{ "CONSULTING ET DÉVELOPPEMENT"|trans }}</span>
				</div>

				<h1 class="card-title sous-titre black">{{ "LE MONDE NE SUFFIT PAS"|trans }}</h1>

				<p class="texte-intro black mt-1">{{ "Même si, à terme, le monde ne vous suffira probablement pas, il faut bien commencer quelque part."|trans }}</p>
				<p class="texte-intro black mt-1">{{ "Définir son terrain de jeu pour les prochaines années."|trans }}</p>
			</div>
		</div>
	</section>

	<section class="mask_contact">
		<img src="{{ asset('uploads/images/fl23.png') }}">
	</section>

	<div class="container-medium">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<h2>
					{{ "PME / ETI / STARTUP / RÉSEAUX :"|trans }}
					<br>{{ "DU DIAGNOSTIC À L’ÉXÉCUTION."|trans }}
					<br>{{ "DU PLAN À LA PERFORMANCE."|trans }}
				</h2>
			</div>
		</div>
	</div>

	<div class="container-medium">
		<div class="row">
			<div class="col-sm-12 col-md-12 pt-5 mb-5">
				<p class="mb-3">{{"Parce qu’une stratégie sans exécution n’est qu’une jolie théorie (et un gouffre budgétaire), Firstcom s’associe à D. Business Design pour accompagner les PME, ETI, startups et réseaux dans l’évolution de leur modèle d’affaires, de la conception à la mise en œuvre concrète."|trans }}
				</p>
				<p class="mb-3">{{ "Trop souvent, les dirigeants peinent à transformer une mission de conseil en plan d’action exécutable. C’est pour cela que nous avons construit un accompagnement complet, en 3 actes."|trans }}</p>
			</div>
		</div>
	</div>

	<div class="background-lgtgreen">
		<div class="row div-part borderSolid">
			<div class="col-xs-12 col-md-3 contact_part1">
				<p class="gros_chiffre">01</p>
			</div>
			<div class="col-xs-12 col-md-8">
				<h3>{{ "Le Conseil : tracer une trajectoire claire dans un monde qui bouge"|trans }}</h3>
				<p class="texte-courant">{{ "Nous vous aidons à penser demain pour agir aujourd’hui. Cette phase permet d’aligner vision, structure et opportunités dans un contexte en mutation rapide."|trans }}</p>
			</div>
		</div>
	</div>

	<div class="container-medium">
		<div class="row contact_page borderSolid">
			<div class="col-sm-12 col-md-12 mb-5 mt-5">
				<ul>
					<li>{{ "Analyser votre marché, vos concurrents et les tendances émergentes"|trans }}</li>
					<li>{{ "Mettre en lumière les moteurs de croissance les plus pertinents"|trans }}</li>
					<li>{{ "Détecter les axes de transformation de votre BU / organisation au regard de votre ADN"|trans }}</li>
					<li>{{ "Anticiper l’impact des transformations technologiques (IA, automatisation) et climatiques sur vos métiers"|trans }}</li>
					<li>{{ "Explorer les scénarios d’évolution de votre modèle économique"|trans }}</li>
					<li>{{ "Réévaluer votre chaîne de valeur et identifier des synergies d’alliance dans votre écosystème"|trans }}</li>
					<li>{{ "Créer les conditions pour mettre en place une culture d’entreprise et une organisation agiles, capable de s’adapter aux incertitudes du marché."|trans }}</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="background-lgtgreen">
		<div class="row div-part borderSolid">
			<div class="col-xs-12 col-md-3 contact_part1">
				<p class="gros_chiffre">02</p>
			</div>
			<div class="col-xs-12 col-md-8">
				<h3>{{ "L’accompagnement : du diagnostic à la décision, activer le changement avec méthode"|trans }}</h3>
				<p class="texte-courant">{{ "Nous clarifions vos choix, priorisons les leviers et mobilisons vos équipes autour d’une feuille de route concrète, adaptée à votre réalité opérationnelle."|trans }}</p>
			</div>
		</div>
	</div>

	<div class="container-medium">
		<div class="row contact_page borderSolid">
			<div class="col-sm-12 col-md-12 mb-5 mt-5">
				<ul>
					<li>{{ "Co-construire une feuille de route stratégique et opérationnelle, claire et séquencée"|trans }}</li>
					<li>{{ "Aider à arbitrer les bons combats : structurer vos choix clés et leurs impacts"|trans }}</li>
					<li>{{ "Animer des séquences de travail décisionnelles et mobilisatrices"|trans }}</li>
					<li>{{ "Mettre en perspective les ressources internes, les enjeux business et les équilibres politiques"|trans }}</li>
					<li>{{ "Aligner la vision des dirigeants et des équipes autour d’objectifs communs et mobilisateurs"|trans }}</li>
					<li>{{ "Prioriser vos investissements (humains, digitaux, commerciaux) pour maximiser votre ROI"|trans }}</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="background-lgtgreen">
		<div class="row div-part borderSolid">
			<div class="col-xs-12 col-md-3 contact_part1">
				<p class="gros_chiffre">03</p>
			</div>
			<div class="col-xs-12 col-md-8">
				<h3>{{ "L’Action : de l’idée à l’impact, prototyper, tester, scaler"|trans }}</h3>
				<p class="texte-courant">{{ "Cette phase vise à faire vivre les initiatives retenues sur le terrain. Nous adoptons une logique de test & learn pour valider rapidement les hypothèses, ajuster les dispositifs, et structurer une croissance maîtrisée, portée par le digital."|trans }}</p>
			</div>
		</div>
	</div>

	<div class="container-medium">
		<div class="row contact_page borderSolid">
			<div class="col-sm-12 col-md-12 mb-5 mt-5">
				<ul>
					<li>{{ "Développer des MVPs et prototypes en cycles courts pour confronter rapidement les idées au réel"|trans }}</li>
					<li>{{ "Collecter et analyser les retours utilisateurs et comportements terrain pour ajuster les dispositifs"|trans }}</li>
					<li>{{ "Activer et optimiser les leviers d’acquisition digitale, en intégrant l’IA comme accélérateur de performance"|trans }}</li>
					<li>{{ "Préparer le passage à l’échelle : structurer les ressources, automatiser, sécuriser la croissance"|trans }}</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container-medium">
		<div class="row contact_page borderSolid">
			<div class="col-sm-12 col-md-12 mb-5 mt-5">
				<h3>{{ "Notre vision"|trans }}</h3>
				<p class="mb-3">
					{{ "Nous ne faisons pas que penser le changement, nous le mettons en œuvre."|trans }}
					{{ "En combinant les forces d’un cabinet de conseil stratégique et d’une agence digitale, nous créons un " |trans }}
					{{ "accompagnement 100 % orienté résultats : de la conception du modèle d’affaires à sa concrétisation sur le terrain."|trans }}
				</p>
			</div>
		</div>
	</div>

	<div class="container-medium">
		<div class="row contact_page borderSolid">
			<div class="col-sm-12 col-md-12 mb-5 mt-5">
				<h3>{{ "En bref"|trans }}</h3>
				<ul>
					<li>{{ "Une stratégie pensée pour votre réalité business"|trans }}</li>
					<li>{{ "Un accompagnement sur-mesure pour transformer les idées en actions concrètes"|trans }}</li>
					<li>{{ "Des résultats mesurables et un pilotage continu de la performance"|trans }}</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container-medium">
		<div class="row contact_page borderSolid">
			<div class="col-sm-12 col-md-12 mb-5 mt-5">
				<h3>{{ "Vous avez une idée ? Nous la concrétisons."|trans }}</h3>
				<a href="/contact" class="content-btn">{{ "Discutons de vos ambitions"|trans }}</a>
			</div>
		</div>
	</div>

	<div class="container-medium">
		<div class="row contact_page borderSolid">
			<div class="col-sm-12 col-md-12 mb-5 mt-5">
				<p class="mb-3">
					{{"Pour réaliser ses missions de conseil, Firstcom s’associe avec"|trans}}
					<b>{{ "Gabriella Fiori"|trans }}</b>,
					{{"fondatrice de D. Business Design :"|trans}}
				</p>
				<h3 class="mb-3">{{ "Gabriella Fiori"|trans }}</h3>
				<p class="mb-3 fst-italic">
					`{{"Experte en business design, en conception de services et en co-développement de projets innovants, 
										j’accompagne les entreprises dans la structuration, la mise en œuvre et l’amélioration de leurs stratégies — 
										de l’idée à la création de valeur. Au cours de ma carrière, 
										j’ai pu travailler avec tout type d’organisation de la start-up à la PME jusqu’aux grandes organisations internationales 
										(CEA, Commission Européenne, BEI, WB …).
										Mon approche s’appuie sur le design thinking, les principes du lean start-up et les méthodes agiles."|trans}}
					`
				</p>
				<p class="fst-italic">
					`{{"J’ai fondé D. Business Design avec une conviction forte : une vision n’a de valeur que si elle se transforme en action."|trans}}`
				</p>
			</div>
		</div>
	</div>

	<div class="background-lgtgreen">
		<a href="/contact" class="row div-part borderSolid" style="text-decoration:none;color: #3c4141;">
			<div class="col-xs-12 col-md-3 contact_part1">
				<img class="image-bandeau img-fluid" src="/uploads/images/consulting.webp" alt="Consulting et développement">
			</div>
			<div class="col-xs-12 col-md-6">
				<h3 class="h3-mini">
					{{ "Vous avez un nouveau projet en tête ?"|trans }}
				</h3>
				<ul>
					<li class="texte-courant">{{ "Vous hésitez sur le bon positionnement ou la viabilité d’un modèle ?"|trans }}</li>
					<li class="texte-courant">{{ "Vous souhaitez tester votre offre avant de la lancer avec une stratégie marketing solide ?"|trans }}</li>
					<li class="texte-courant">{{ "Votre business est en difficulté ou en phase de pivot ?"|trans }}</li>
					<li class="texte-courant">{{ "Vous cherchez un nouveau marché ou un nouveau produit ?"|trans }}</li>
					<li class="texte-courant">{{ "Vous êtes une PME BtoB/BtoC ou un réseau de commerce organisé ?"|trans }}</li>
				</ul>
				<p class="texte-courant mt-5 fw-bold">{{ "On en parle ?"|trans }}</p>
			</div>
			<div class="col-xs-12 col-md-3 fleche-info ">
				<p class="cartouche_info">{{ "Quand est-ce qu’on commence ?"|trans }}</p>
				<div class="fleche-info">
					<img src="https://zupimages.net/up/23/28/vj4w.png">
				</div>
			</div>
		</a>
	</div>


{% endblock %}
