{% extends 'base.html.twig' %}

{% block title %}Data-analyse
{% endblock %}

{% block body %}

	<section id="container2">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-4 col-12">
				<img class="image-principale" src="{{ asset('uploads/images/data-analyse.webp') }}">
			</div>
			<div class="col-md-4 col-12">
				<div class="fil_ariane">
					<a href="{{ path('app_home') }}">FIRSTCOM</a>
					|
					<a href="{{ path('app_croissance') }}">CROISSANCE ET PERFORMANCE</a>
					|
					<span>DATA-ANALYSE</span>
				</div>

				<h1 class="card-title sous-titre black">DRIVE BY DIGITAL DATA</h1>

				<p class="texte-intro">Optimiser la prise de décision grâce à l'analyse de données digitales.</p>
				<p class="texte-intro">Plus simplement : s'appuyer sur des vérités chiffrées VS le doigt mouillé ?</p>
			</div>
		</div>
	</section>

	<section class="mask_contact">
		<img src="{{ asset('uploads/images/fl23.png') }}">
	</section>

	<div class="container-medium">
		<div class="row borderSolid">
			<div class="col-sm-12 col-md-12 mb-4">
				<h2>VOTRE ACTIVITÉ DIGITALE, LES OUTILS D’ANALYSE ET LES PLATEFORMES WEBMARKETING REGORGENT D’UN BIEN PRÉCIEUX : DES DONNÉES.</h2>
			</div>
			<div class="col-sm-12 col-md-12 mb-5">
				<p>Et ces données, si elles sont bien récoltées, analysées et exploitées, vous permettront non seulement d’orienter votre stratégie d’entreprise mais aussi de générer plus de leads, plus de notoriété, plus de ventes.</p>
				<p>Un site web, une appli, une campagne SEA ou social Media, etc., ce sont des centaines, des milliers d’informations à portée de main sur vos clients, vos prospects, vos fans qu’il serait irresponsable de ne pas comprendre et exploiter, pour mieux performer.</p>
			</div>
		</div>
	</div>

	<div class="background-lightyellow row">
		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull py-3 px-5" style="text-decoration:none;">
			<div class="row">
				<div class="col-12 mb-3">
					<img class="fleche-down" src="{{ asset('uploads/images/fleche-down.webp') }}">
				</div>
				<div class="col-12">
					<h3 class="h3-micro">QUI SONT VOS CIBLES ET COMMENT SE COMPORTENT-ELLES ?</h3>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull py-3 px-5" style="text-decoration:none;">
			<div class="row">
				<div class="col-12 mb-3">
					<img class="fleche-down" src="{{ asset('uploads/images/fleche-down.webp') }}">
				</div>
				<div class="col-12">
					<h3 class="h3-micro">COMMENT VOUS ONT-ELLES TROUVÉ ?
					</h3>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull py-3 px-5" style="text-decoration:none;">
			<div class="row">
				<div class="col-12 mb-3">
					<img class="fleche-down" src="{{ asset('uploads/images/fleche-down.webp') }}">
				</div>
				<div class="col-12">
					<h3 class="h3-micro">QUELLES SONT LEURS AUTRES CENTRES D’INTÉRÊT ?</h3>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull py-3 px-5" style="text-decoration:none;">
			<div class="row">
				<div class="col-12 mb-3">
					<img class="fleche-down" src="{{ asset('uploads/images/fleche-down.webp') }}">
				</div>
				<div class="col-12">
					<h3 class="h3-micro">QUELS PRODUITS LES SÉDUISENT ?</h3>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull py-3 px-5" style="text-decoration:none;">
			<div class="row">
				<div class="col-12 mb-3">
					<img class="fleche-down" src="{{ asset('uploads/images/fleche-down.webp') }}">
				</div>
				<div class="col-12">
					<h3 class="h3-micro">À QUELS MESSAGES SONT-ELLES SENSIBLES ?</h3>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull py-3 px-5" style="text-decoration:none;">
			<div class="row">
				<div class="col-12 mb-3">
					<img class="fleche-down" src="{{ asset('uploads/images/fleche-down.webp') }}">
				</div>
				<div class="col-12 ">
					<h3 class="h3-micro">COMBIEN DE FOIS REVIENNENT-ELLES AVANT DE PASSER À L’ACTION ?</h3>
				</div>
			</div>
		</div>
	</div>


	<div class="container-medium">
		<div class="row">
			<div class="col-sm-12 col-md-12 mt-5">
				<p class="mb-4"> Sans oublier les différentes plateformes de webmarketing qui peuvent analyser les requêtes liées à votre secteur d’activité sur le web, mais aussi les performances de vos concurrents... Autant d’éléments qui facilitent et optimisent la prise de décision stratégique.</p>

				<h3 class="mb-4">ANALYSER LES DONNÉES DIGITALES NÉCESSITE NÉANMOINS PLUSIEURS EXPERTISES, QUE LES CHEFS DE PROJETS FIRSTCOM MAITRISENT SUR LE BOUT DU CLAVIER :</h3>
				<ul>
					<li>
						La RGPD, ennemie jurée du data analyst, qui encadre le traitement des données personnelles.
					</li>
					<li>
						Les outils et plateformes d’analyse webmarketing disponibles sur le marché.
					</li>
					<li>
						La création d’un plan de taggage adéquat, et la connexion aux différentes API.
					</li>
					<li>
						La solidification, le tri et la mise en forme de ces données, sous la forme de tableurs Excel ou de dashboards personnalisés.
					</li>
					<li>
						L’analyse, enfin, de la data disponible et si besoin, l’aide à la décision stratégique.
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container-medium mt-5 mb-4">
		<div class="row">
			<div class="col-sm-12 col-md-12 mb-4">
				<h4>ALORS, TEAM DOIGT MOUILLÉ OU DONNÉES CHIFFRÉES ?</h4>
			</div>
		</div>
	</div>

{% endblock %}
