{% extends 'base.html.twig' %}

{% block meta_description %}
	<meta name="description" content="Emballer son offre d'un joli nœud rouge ne suffit pas. Firstcom vous conseille dans la définition d'offres bien marketées, lisibles et adaptées à leurs cibles.">
{% endblock %}

{% block title %}
	{{"Marketing de l'offre : avec Firstcom, ne soyez plus seul à vous comprendre"|trans}}
{% endblock %}

{% block body %}

	<section id="container3">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-4 col-12">
				<img class="image-principale" src="{{ asset('uploads/images/marketing.webp') }}">
			</div>
			<div class="col-md-4 col-12">
				<div class="fil_ariane">
					<a href="{{ path('app_home') }}">FIRSTCOM</a>
					|
					<a href="{{ path('app_conseil') }}">{{ "CONSEIL ET STRATÉGIE"|trans }}</a>
					|
					<span>{{ "MARKETING DE L'OFFRE"|trans }}</span>
				</div>

				<h1 class="card-title sous-titre black">{{ "NE SOYEZ PLUS SEUL À VOUS COMPRENDRE"|trans }}</h1>

				<p class="texte-intro black">{{ "Proposer une offre fantastique c'est bien."|trans }}</p>
				<p class="texte-intro black">{{ "Mais proposer une offre fantastique et lisible, c’est mieux."|trans }}</p>
			</div>
		</div>
		<div></div>
	</section>

	<section class="mask_contact">
		<img src="{{ asset('uploads/images/fl23.png') }}">
	</section>

	<div class="container-medium">
		<div class="row">
			<div class="col-sm-12 col-md-12 mb-4">
				<p class="texte-intro-2 mt-2">{{ "Le nez dans le guidon, on rajoute des services, des gammes, des usages à une offre existante. On change de cible sans adapter sa proposition."|trans }}</p>
				<p class="texte-intro-2">{{ "On crée des offres qui se ressemblent trop ou qui répondent à tellement de besoins qu’elles en deviennent suspectes. "|trans }}</p>
				<p class="texte-intro-2">{{ "On peut emballer notre offre dans les plus jolis nœuds rouges, si elle n’est pas lisible par sa cible, elle ne sera pas achetée."|trans }}</p>
				<p class="texte-intro-2 mt-2">{{ "Car une offre bien marketée, c’est une proposition claire, qui procure un bénéfice défini, adressée à une cible précise, par un canal déterminé."|trans }}</p>
				<p class="texte-intro-2">{{ "Point barre."|trans }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12 mb-5">
				<h2>{{ "LE MARKETING DE L’OFFRE EST DONC A LA BASE DE LA BASE (DE LA BASE)."|trans }}</h2>
			</div>
		</div>
	</div>
</div>
<div class="background-lgtgreen">

	<div class="row div-part borderSolid">
		<div class="col-xs-12 col-md-3 contact_part1">
			<p class="gros_chiffre">01</p>
		</div>
		<div class="col-xs-12 col-md-8">
			<h4>{{ "ÉTUDE DE VOTRE BUSINESS MODEL"|trans }}</h4>
			<p class="texte-courant">{{ "À travers des études préalables et des ateliers de travail, les équipes consulting de Firstcom plongent dans votre ADN, étalent sur la table l’étendu de vos propositions pour obtenir une vision d’ensemble de vos promesses."|trans }}</p>
			<p class="texte-courant">{{ "Tour à tour Marie Kondo et tailleurs de diamant, nos équipes classent, trient, réorganisent, mais aussi taillent, coupent, aiguisent et affinent vos offres pour en tirer leur quintessence. Sans pitié mais avec bon sens et expertise."|trans }}</p>
		</div>
	</div>
	<div class="row div-part borderSolid">
		<div class="col-xs-12 col-md-3 contact_part1">
			<p class="gros_chiffre">02</p>
		</div>
		<div class="col-xs-12 col-md-8">
			<h4>{{ "MODÉLISATION DE VOTRE OFFRE MARKETING"|trans }}</h4>
			<p class="texte-courant">{{ "Une fois les offres définies, il s’agit de les mettre en mots et en images, et de bien savoir où et comment les vendre. De nouvelles étapes d’importances."|trans }}</p>
		</div>
	</div>
</div>

<div class="container-medium">
	<div class="row contact_page borderSolid">
		<div class="col-sm-12 col-md-12 my-5">
			<h4>{{ "ON ESSAYE D'Y VOIR PLUS CLAIR ?"|trans }}</h4>
		</div>
	</div>
</div>{% endblock %}
