{% extends 'base.html.twig' %}

{% block meta_description %}
	<meta name="description" content="Mieux que l'IA, Firstcom s'appuie sur de vraies personnes pour créer un contenu sensible, intelligent et impactant, bref, qui vous ressemble.">
{% endblock %}

{% block title %}CRÉATION VISUELLE : QUAND L’IA RENCONTRE LE TALENT HUMAIN
{% endblock %}

{% block body %}
	<section id="container7">
		<div class="row contact_page">
			<div class="col-md-4 col-12 contact_part1">
				<img class="image-principale" src="{{ asset('/uploads/images/crea-visuelle2.webp') }}">
			</div>
			<div class="col-md-4 col-12 contact_part2">
				<div class="fil_ariane">
					<a href="{{ path('app_home') }}">FIRSTCOM</a>
					|
					<a href="{{ path('app_contenus') }}">CRÉATION DE CONTENUS</a>
					|
					<span>CRÉATION VISUELLE</span>
				</div>

				<h1 class="card-title sous-titre writeWhite">CRÉATION VISUELLE : QUAND L’IA RENCONTRE LE TALENT HUMAIN</h1>

				<p class="texte-intro writeWhite">LES LOGICIELS D'IA SAVENT GÉNÉRER DES IMAGES EN QUELQUES SECONDES.</p>
				<p class="texte-intro writeWhite">NOUS, ON SAIT SURTOUT LES RENDRE UTILES, COHÉRENTES ET BELLES.</p>
			</div>

		</section>
		<div style="position: relative; bottom:12%;">
			<img src="{{ asset('uploads/images/icon_fleche-down-white.svg') }}" alt="">
		</div>

		<section class="mask_contact">
			<img src="{{ asset('uploads/images/fl23.png') }}">
		</section>

		<div class="container-medium">

			<div class="row">
				<div class="col-sm-12 col-md-12 mt-4 mb-3">
					<h2>LE BON OUTIL, C’EST BIEN. LE BON OEIL, C’EST MIEUX.</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-md-12 mb-4">
					<p class="texte-intro-2 mt-2">Chez Firstcom, nous utilisons les derniers logiciels de création visuelle assistée par IA (images, vidéos, animations…).</p>
					<p class="texte-intro-2 ">Mais notre vraie valeur ajoutée, ce n’est pas l’outil : ce sont nos Directeurs Artistiques et graphistes expérimentés, capables de transformer un brief en une création qui colle à votre identité de marque, votre storytelling.</p>
					<p class="texte-intro-2 mt-3">L’IA génère. Nos créatifs ajustent, recadrent, détournent, recomposent… pour que le résultat soit pertinent, impactant et parfaitement aligné avec vos objectifs.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-md-12 mt-4 mb-3">
					<h2>LA DOUBLE COMPÉTENCE : TRADITION ET INNOVATION</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-md-12 mb-4">
					<p class="texte-intro-2 mt-2">Nous maîtrisons les outils “classiques” (Adobe, prises de vue, montage vidéo, web design…) autant que les nouveaux workflows IA (prompting, optimisation, retouche hybride).</p>
					<p class="texte-intro-2 ">Cette approche complémentaire permet de gagner en rapidité sans perdre en qualité.</p>
					<p class="texte-intro-2 mt-3">Résultat : des visuels qui respectent vos chartes graphiques, vos codes de marque et vos enjeux business, tout en profitant de la créativité démultipliée par l’IA.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-md-12 mt-4 mb-5">
					<h2>POUR QUOI FAIRE ?</h2>
				</div>
			</div>
		</div>

		<div class="row mb-4" style="background-color: #777f7b;">
			<div class="col-xl-6 col-sm-12 borderFull p-5">
				<div class="row">
					<div class="col-12 ps-4 my-4">
						<img class="" src="{{ asset('uploads/images/icon_fleche-down-white.svg') }}" alt="">
					</div>
					<div class="col-12">
						<h3 class="writeWhite">DES CONTENUS POUR LES RÉSEAUX SOCIAUX</h3>
						<p class="writeWhite">Posts, carrousels, vidéos courtes …</p>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-sm-12 borderFull p-5">
				<div class="row">
					<div class="col-12 ps-4 my-4">
						<img class="" src="{{ asset('uploads/images/icon_fleche-down-white.svg') }}" alt="">
					</div>
					<div class="col-12">
						<h3 class="writeWhite">DES VISUELS PUBLICITAIRES</h3>
						<p class="writeWhite">Campagnes digitales, affichage, branding...</p>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-sm-12 borderFull p-5">
				<div class="row">
					<div class="col-12 ps-4 my-4">
						<img class="" src="{{ asset('uploads/images/icon_fleche-down-white.svg') }}" alt="">
					</div>
					<div class="col-12">
						<h3 class="writeWhite">DES SUPPORTS ÉDITORIAUX</h3>
						<p class="writeWhite">Plaquettes, newsletters, magazines...</p>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-sm-12 borderFull p-5">
				<div class="row">
					<div class="col-12 ps-4 my-4">
						<img class="" src="{{ asset('uploads/images/icon_fleche-down-white.svg') }}" alt="">
					</div>
					<div class="col-12">
						<h3 class="writeWhite">DU WEB DESIGN ET DE L’UX/UI</h3>
						<p class="writeWhite">pour vos sites et applis.</p>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-sm-12 borderFull p-5">
				<div class="row">
					<div class="col-12 ps-4 my-4">
						<img class="" src="{{ asset('uploads/images/icon_fleche-down-white.svg') }}" alt="">
					</div>
					<div class="col-12">
						<h3 class="writeWhite">DES CONTENUS IA ORIGINAUX</h3>
						<p class="writeWhite">créés et testés spécifiquement pour vos campagnes.</p>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-sm-12 borderFull p-5 bg-white">
				<div class="row">
					<div class="col-12">
						<h3 class="">UNE ÉQUIPE, PAS UNE MACHINE</h3>
						<p class="">L’IA ouvre des possibilités infinies, mais c’est l’expérience humaine qui donne du sens et de la cohérence.</p>
						<p class="">Nos créatifs savent quand il faut prompter, quand il faut dessiner, et surtout quand il faut dire non à un visuel qui flatte l’oeil mais trahit votre marque.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container-medium">
			<div class="row align-items-center">
				<div class="col-sm-12 col-md-12 my-5">
					<h2>CHEZ FIRSTCOM, NOUS CROYONS QU’UN BON VISUEL NE SE MESURE PAS AU NOMBRE DE PIXELS GÉNÉRÉS… MAIS À L’IMPACT QU’IL PRODUIT SUR VOS AUDIENCES.</h2>
				</div>
			</div>
		</div>

	{% endblock %}
