{% extends 'base.html.twig' %}

{% block meta_description %}
    <meta name="description" content="Référencement naturel et payant, campagnes sur les réseaux sociaux, Community Management, Firstcom, une task force au service de votre performance.">
{% endblock %}


{% block title %}Campagnes, référencement, Firstcom, au service de votre croissance
{% endblock %}

{% block body %}

	<section id="container2">
		<div class="row contact_page">
			<div class="col-md-4 col-12 contact_part1">
				<img class="image-principale" src="{{ asset('uploads/images/firstcom-croissance.webp') }}">
			</div>
			<div class="col-md-4 col-12 contact_part2">
				<div class="fil_ariane">
					<a href="{{ path('app_home') }}">FIRSTCOM</a>
					| 
					<span>CROISSANCE ET PERFORMANCE</span>
				</div>

				<h1 class="card-title sous-titre black">L’ARGENT N’EST PAS LE PROBLÈME</h1>

				<p class="texte-intro black">Ce n’est pas l’argent qui compte, mais la façon de le dépenser.</p>
				<p class="texte-intro black mt-1">Oubliez les sommes investies pour vous concentrer sur la croissance récoltée.</p>
				<p class="texte-intro-p black mt-2">L’avantage, avec nos actions, c’est que vous pourrez toujours les juger sur la performance. Établir de manière transparente le coût d’un clic, d’un lead, d’une vente.</p>
			</div>
		</div>
		<div></div>
	</section>

	<section class="mask_contact">
		<img src="{{ asset('uploads/images/fl23.png') }}">
	</section>

	<div class="container-medium">
		<div class="row borderSolid">

			<div class="col-sm-12 col-md-12 mb-2">
				<h2>LA CROISSANCE ET LA PERFORMANCE CHEZ FIRSTCOM</h2>
			</div>

			<div class="row croissance_page borderSolid mb-5">
				<div class="col-12">
					<p>À nous...</p>
					<ul>
						<li>D'activer les leviers les plus performants pour répondre à vos objectifs.</li>
						<li>De suivre au quotidien vos campagnes pour les optimiser.</li>
						<li>De mesurer les performances, analyser les actions.</li>
						<li>D'établir des statistiques régulières, des points d'étape et de vous rendre des comptes.</li>
					</ul>
					<p><strong>Et au final, à vous d'empocher.</strong></p>
				</div>
			</div>
		</div>
	</div>

	<div class="background-yellow">
		<a href="{{ path('app_referencement_naturel_seo') }}" class="row div-part borderSolid" style="text-decoration:none;">
			<div class="col-xs-12 col-md-3 contact_part1">
				<img class="image-bandeau img-fluid" src="{{ asset('uploads/images/seo.webp') }}">
			</div>
			<div class="col-xs-12 col-md-6">
				<h3 class="card-title-home">RÉFÉRENCEMENT NATUREL (SEO)</h3>
				<p class="card-text-home">L’OUTIL LE PLUS PUISSANT, AU MEILLEUR RAPPORT QUALITÉ-PRIX, POUR VOUS OFFRIR DE LA VISIBILITÉ (OU PLUS PROSAÏQUEMENT « DU BUSINESS ») SUR LES MOTEURS DE RECHERCHE. TELLEMENT CHOUETTE QUE LA CONCURRENCE SEO EST PLUS ACHARNÉE QU’ENTRE INFLUENCEURS CRYPTO À DUBAÏ..</p>
				<p class="card-text-mini-home">En clair, c’est long, c’est compliqué mais qu’est-ce que c’est bon…</p>
			</div>
			<div class="col-xs-12 col-md-3 fleche-info ">
				<p class="cartouche_info">On vous explique ?</p>
				<div class="fleche-info">
					<img src="{{ asset('uploads/images/fleche-gris60.png') }}">
				</div>
			</div>
		</a>


		<a href="{{ path('app_campagnes_digitales') }}" class="row div-part borderSolid" style="text-decoration:none;">
			<div class="col-sm-12 col-md-3 contact_part1">
				<img class="image-bandeau img-fluid" src="{{ asset('uploads/images/sea.webp') }}">
			</div>
			<div class="col-sm-12 col-md-6">
				<h3 class="card-title-home">CAMPAGNES D’ACQUISITION PAYANTES (SEA / SOCIAL MÉDIA)</h3>
				<p class="card-text-home">GOOGLE, MÉTA, LINKEDIN, TIK TOK OU AMAZON… GÉRER DES CAMPAGNES D’ACQUISITION NE SE RÉSUME PAS À COMMUNIQUER SON NUMÉRO DE CARTE BANCAIRE.</p>
				<p class="card-text-mini-home">Une campagne performante, c’est une stratégie bien pensée en fonction de vos objectifs, votre offre et vos cibles, mais aussi des pages d’atterrissage « pousses au clic », des messages impactants et surtout des experts qui testent, surveillent,  optimisent chaque euro dépensé.</p>
			</div>
			<div class="col-sm-12 col-md-3 fleche-info">
				<p class="cartouche_info">On commence par parler de vos objectifs ?</p>
				<div class="fleche-info">
					<img src="{{ asset('uploads/images/fleche-gris60.png') }}">
				</div>
			</div>
		</a>


		<a href="{{ path('app_community_management') }}" class="row div-part borderSolid" style="text-decoration:none;">
			<div class="col-sm-12 col-md-3 contact_part1">
				<img class="image-bandeau img-fluid" src="{{ asset('uploads/images/smartphone.webp') }}">
			</div>
			<div class="col-sm-12 col-md-6">
				<h3 class="card-title-home">COMMUNITY MANAGEMENT ET RP</h3>
				<p class="card-text-home">CE N’EST PAS PARCE QU’ON SAIT POSTER UNE PHOTO D’UN PLAT DE BOLOGNAISE SUR INSTAGRAM OU FACEBOOK QU’ON DEVIENT COMMUNITY MANAGER. ET CE N’EST PAS PARCE QUE VOUS DIFFUSEZ UN COMMUNIQUÉ DE PRESSE QUE L’INFO OUVRIRA LE 20H DU LENDEMAIN.</p>
				<p class="card-text-mini-home">
					Le Community Manager sait choisir ses réseaux et son ton en fonction de sa cible, varier les types de contenus, analyser son audience et faire des vidéos Tiktok qui cassent le web. L’Attaché(e) de presse sait rédiger les infos qui font mouche et connait ses rédactions sur le bout de son clavier.</p>
			</div>
			<div class="col-sm-12 col-md-3 fleche-info">
				<p class="cartouche_info">On vous présente nos experts ?</p>
				<div class="fleche-info">
					<img src="{{ asset('uploads/images/fleche-gris60.png') }}">
				</div>
			</div>
		</a>


		<a href="{{ path('app_data_analyse') }}" class="row div-part" style="text-decoration:none;">
			<div class="col-sm-12 col-md-3 contact_part1">
				<img class="image-bandeau img-fluid" src="{{ asset('uploads/images/data-analyse.webp') }}">
			</div>
			<div class="col-sm-12 col-md-6">
				<h3 class="card-title-home">DATA ANALYSE</h3>
				<p class="card-text-home">LE NOUVEL OR NOIR SUR TOUTES LES LÈVRES. MAIS LA DATA ANALYSE NE COMMENCE PAS AVEC L’ANALYSE, CAR POUR ANALYSER DE LA DATA, ENCORE FAIT-IL SAVOIR LA RÉCUPÉRER.</p>
				<p class="card-text-mini-home">
					Donc fixer des objectifs clairs, connaitre sur le bout des doigts la RGPD pour mieux s’en jouer, développer un plan de taggage performant et enfin, récupérer et traiter la donnée..</p>
			</div>
			<div class="col-sm-12 col-md-3 fleche-info">
				<p class="cartouche_info">On parle de vos objectifs ?</p>
				<div class="fleche-info">
					<img src="{{ asset('uploads/images/fleche-gris60.png') }}">
				</div>
			</div>
		</a>
	</div>


{% endblock %}
