{% extends 'base.html.twig' %}

{% block title %}Le Blog de FIRSTCOM
{% endblock %}

{% block body %}

	<section class="blog-container">
		{# Dernier article en vedette #}
		{% if dernierArticle %}
		
			<div class="vedette-article" style="background-image: url('{{ asset('uploads/images/' ~ dernierArticle.imgXL) }}');">
				<div class="container-medium-blog">
					<div class="row">
						<div class="col-sm-12 col-md-12 p-4 p-sm-5 vedette-article-lancement">
							<div class="infos mb-3">
								<span class="date">{{ dernierArticle.dateCreation | date('d m Y') }}</span>
								{% for categorie in dernierArticle.categorie %}
									<span class="categories">{{ categorie.nom }}</span>
								{% endfor %}
							</div>
							<h1 class="writeWhite mb-3">{{ dernierArticle.titre | raw}}</h1>
							<div class="writeWhite texte-courant">{{ dernierArticle.descriptionCourte | raw}}</div>

							<div class="row">
								<div class="col-6 col-md-2 col-xl-2 col-xxl-1">
									<a href="{{ path('app_article_show', {
										'id': dernierArticle.id,
										'slug': dernierArticle.titre | striptags | slug | lower
									}) }}" class="d-block mt-4">LIRE</a>
								</div>
							</div>
						</div>
						<div class="col-12 vedette-article-fleche-suite">
							<img src="{{ asset('uploads/images/fleche-up-white.webp') }}" alt="fleche-bas">
						</div>
					</div>
				</div>

			</div>

		{% endif %}

		<style>
			.vedette-article-fleche-suite {
				display: none;
			}

			.vedette-article-fleche-suite img {
				display: block;
				margin: 50px auto 0 auto;
				transform: rotate(180deg);
			}

			@media screen and (max-width: 991px) {
				.vedette-article-fleche-suite {
					display: block;
				}
			}

			.blog-categories {
				background-color: #3C4141;
				text-align: center;
				padding: 6px;
			}

			@media screen and (max-width: 991px) {
				.blog-categories {
					display: none;
				}
				.blog-categories-mobile {
					display: block;
				}
			}

			.blog-categories span {
				font-size: 12px;
				color: #FFFFFF;
				font-weight: 500;
			}

			.blog-categories a {
				text-decoration: none;
				font-size: 12px;
				color: #FFFFFF;
				font-weight: 500;
			}

			.blog-categories a:hover {
				color: #96A596;
			}

			.blog-categories-mobile {
				background-color: #3C4141;
				text-align: center;
				padding: 6px;
			}

			@media screen and (min-width: 991px) {
				.blog-categories {
					display: block;
				}
				.blog-categories-mobile {
					display: none;
				}
			}

			.blog-categories-mobile span {
				font-size: 16px;
				color: #FFFFFF;
				font-weight: 700;
			}

			.blog-categories-mobile a:first-child {
				margin-top: 20px;
			}

			.blog-categories-mobile a {
				display: block;
				font-size: 12px;
				color: #FFFFFF;
				font-weight: 500;
				text-decoration: none;
				margin: 15px auto;
			}

			.blog-categories-mobile img {
				width: 20px;
				position: relative;
    			bottom: 2px;
			}

			.target-cat-mobile {
				cursor: pointer;
			}

			/* Style de base pour le menu déroulant */
			.categories-mobile {
				overflow: hidden;
				transition: max-height 0.3s ease;
				max-height: 0; /* Commence avec max-height à 0 */
			}

			/* Quand le menu est ouvert, max-height est augmenté pour permettre l'affichage du contenu */
			.cat-mobile-ouvert {
				max-height: 20em; /* Vous devrez ajuster cette valeur en fonction de votre contenu */
			}

			/* Quand le menu est fermé, max-height est réduit pour masquer le contenu */
			.cat-mobile-ferme {
				max-height: 0;
			}


			.fleche-categories {
				width: 20px;
				margin: 0 10px;
				position: relative;
				bottom: 1px;
			}

			.chevron-categories {
			transition: transform 0.3s ease;
			}

			/* Quand la classe .chevron-up est présente, l'icône pivote */
			.chevron-categories.chevron-up {
				transform: rotate(180deg);
			}

			.active-category {
				color: #96A596 !important;
				font-weight: 500 !important;
			}

		</style>
		<script>
			document.addEventListener("DOMContentLoaded", (event) => {
			
				let target = document.querySelector('.target-cat-mobile');
				let categories_mobile = document.querySelector('.categories-mobile');

				target.addEventListener('click', () => {
					// Basculer entre les classes pour ouvrir/fermer le menu
					categories_mobile.classList.toggle('cat-mobile-ferme');
					categories_mobile.classList.toggle('cat-mobile-ouvert');

					let chevron = target.querySelector('.chevron-categories');
					if (chevron) {
						chevron.classList.toggle('chevron-up');
					
					}
				});
			});
		</script>
		<div class="container-meduim">
			<div class="blog-categories">
				<span>CATÉGORIES</span>
				<span><img class="fleche-categories" src="{{ asset('uploads/images/fleche-right-white.webp') }}"></span>
				<a href="{{ path('app_blog') }}" class="active-category">TOUT</a>
				{% for categorie in categories %}
					<span> | </span>
					<a href="{{ path('blog_filter_by_category', {'categoryName': categorie.slug}) }}">
						{{ categorie.nom | upper }}
					</a>
				{% endfor %}
			</div>
		</div>

		<div class="container-meduim">
			<div class="blog-categories-mobile align-items-center justify-content-center">
				<div class="target-cat-mobile">
					<span>CATÉGORIES</span>
					<span><img class="chevron-categories" src="{{ asset('uploads/images/chevron-down-white.svg') }}"></span>
				</div>

				<div class="categories-mobile cat-mobile-ferme">
					<a href="{{ path('app_blog') }}" class="active-category">TOUT</a>
					{% for categorie in categories %}
						<a href="{{ path('blog_filter_by_category', {'categoryName': categorie.slug}) }}">
							{{ categorie.nom | upper }}
						</a>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="autres-articles">
			<div class="container-fluid">
				<div class="row">
					{% for article in pagination %}
						<div class="col-sm-12 col-md-6 p-4 p-sm-5 autres-articles-lancement" style="background-image: url('{{ asset('uploads/images/' ~ article.imgS) }}'); background-repeat: no-repeat; background-size: cover; background-position: center; display: flex; justify-content: center; align-items: center;">

							<div class="container-fluid">
								<div class="inside-autres-articles row p-3 p-sm-4">
									<div class="col-12">
										<div class="infos mb-3">
											<span class="date">{{ article.dateCreation | date('d m Y') }}</span>
											{% for categorie in article.categorie %}
												<span class="categories">{{ categorie.nom }}</span>
											{% endfor %}
										</div>
									</div>
									<div class="col-12">
										<h2 class="writeWhite mb-3">{{ article.titre | raw }}</h2>
									</div>
									<div class="col-12">
										<div class="writeWhite texte-courant-mini">{{ article.descriptionCourte | raw }}</div>
									</div>
									<div class="col-4 col-md-4 col-xl-3 col-xxl-2">
										<a href="{{ path('app_article_show', {
											'id': article.id,
											'slug': article.titre | striptags | slug | lower
										}) }}" class="d-block mt-4">LIRE</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			{# Affichage des liens de pagination #}

			<style>
				.pagination {
					padding: 20px 0 30px 0;
				}

				.pagination .pagination-pages {
					margin: 0 auto;
				}

				.pagination .pagination-pages a {
					padding: 4px 12px;
					text-decoration: none;
					font-size: 14px;
					color: #000000;
					font-weight: 600;
				}

				.pagination .pagination-pages a > img {
					width: 20px;
					position: relative;
					bottom: 1px;
				}

				.pagination .pagination-pages a.active {
					color: #96A596;
					font-weight: bold;
					border-bottom: 1px solid #96A596;
				}
			</style>
			<div class="pagination">
				<div class="pagination-pages">
					{# Flèche pour aller à la page précédente #}
					{% if pagination.currentPageNumber > 1 %}
						<a href="{{ path('app_blog_paginated', {'page': pagination.currentPageNumber - 1}) }}"><img src="{{ asset('uploads/images/fleche-left.svg') }}" alt="Flèche à gauche"></a></a>
					{% endif %}

					{# Lien vers les pages #}
					{% for i in 1..pagination.pageCount %}
						{# Application d'une classe différente si c'est la page actuelle #}
						<a href="{{ path('app_blog_paginated', {'page': i}) }}" class="{{ i == pagination.currentPageNumber ? 'active' : '' }}">{{ i }}</a>
					{% endfor %}

					{# Flèche pour aller à la page suivante #}
					{% if pagination.currentPageNumber < pagination.pageCount %}
						<a href="{{ path('app_blog_paginated', {'page': pagination.currentPageNumber + 1}) }}"><img src="{{ asset('uploads/images/fleche-right.svg') }}" alt="Flèche à droite"></a>
					{% endif %}
				</div>
			</div>
		</div>

	</section>

{% endblock %}
