{% extends 'base.html.twig' %}

{% block meta_description %}
	<meta name="description" content="Nous créons des sites web vitrines ou e-commerce qui cartonnent et automatisons vos activités ou process, pour vous aider à PER-FOR-MER.">
{% endblock %}

{% block title %}
	{{"Chez Firstcom, on prend la tech et le digital très au sérieux"|trans }}
{% endblock %}

{% block body %}

	<section id="container6">
		<div class="row contact_page">
			<div class="col-md-4 col-12 contact_part1">
				<img class="image-principale" src="{{ asset('uploads/images/firstcom-digital.webp') }}">
			</div>
			<div class="col-md-4 col-12 contact_part2">
				<div class="fil_ariane">
					<a href="{{ path('app_home') }}">FIRSTCOM</a>
					|
					<span>{{ "TECH & DIGITAL"|trans }}</span>
				</div>

				<h1 class="card-title sous-titre black">{{ "DE L’IMPORTANCE"|trans }}<br>
					{{ "D’ÊTRE BIEN OUTILLÉ"|trans }}</h1>

				<p class="texte-intro black">{{ "On ne vous fera pas l’affront de vous expliquer à quel point tech et digital au sens large sont devenus incontournables pour toute organisation publique ou privée, même La Palice ne s’en remettrait pas."|trans }}</p>
				<p class="texte-intro black mt-1">{{ "Néanmoins, on vous affirme (en vous regardant droit dans les yeux) que créer un site web ou développer une techno ne se résume pas à un bel habillage graphique et un prix alléchant."|trans }}</p>
			</div>
		</section>

		<section class="mask_contact">
			<img src="{{ asset('uploads/images/fl23.png') }}">
		</section>

		<div class="container-medium">
			<div class="row">
				<div class="col-sm-12 col-md-12 mb-4">
					<p class="texte-intro-2 bold">{{ "Quel business échappe au digital ?"|trans }}</p>
					<p class="texte-intro-2 bold">{{ "Qui peut se passer de la visibilité d’un Google, d’une plateforme d’achat en ligne, ou d’un lead via son site web ?"|trans }}</p>
					<p class="texte-intro-2 bold mb-4">{{ "Qui préfère cumuler des tâches sans valeur ajoutée plutôt que les déléguer à un agent IA, un outil ou une techno dédiée ?"|trans }}</p>

					<h2 class="mb-3">{{ "CHEZ FIRSTCOM, ON PREND LE DIGITAL ET LA TECH TRÈS AU SÉRIEUX."|trans }}</h2>

					<p class="texte-intro-2">{{ "Parce que nous sommes garants de la bonne tenue de nos clients sur le web et de leurs performances digitales."|trans }}</p>
					<p class="texte-intro-2 mb-2">{{ "Rien que ça."|trans }}</p>

					<p class="texte-intro-2 mb-2">{{ "Nos équipes — développeurs back et front, UX/UI designers, experts SEO / GEO, spécialistes en plan de taggage, webmasters… — conçoivent des sites et des plateformes sur mesure, robustes, sécurisés et pensés pour durer."|trans }}</p>
					<p class="texte-intro-2 mb-2">{{ "Un site, ce n’est pas qu’une vitrine"|trans }}</p>
					<p class="texte-intro-2 ">{{ "Aujourd’hui, on peut générer un site en quelques prompts. Rapide, séduisant, parfois bluffant."|trans }}</p>
					<p class="texte-intro-2 mb-2">{{ "Mais un site qui performe, c’est un back-office fiable, des API connectées, une sécurité solide et une évolutivité capable d’accompagner la croissance de votre entreprise. C’est aussi un site web maintenable et évolutif."|trans }}
					</p>

					<p class="texte-intro-2 mb-2">{{ "C’est ce supplément d’âme (et de technique) que nous mettons dans chaque projet."|trans }}</p>

					<h2 class="mb-2 mt-4">{{ "Notre méthode"|trans }}</h2>

					<p class="texte-intro-2 ">{{ "Chez Firstcom, nous passons au crible vos besoins pour bâtir l’outil le plus complet et précis : une vitrine fidèle, mais aussi un moteur de performance."|trans }}</p>
					<p class="texte-intro-2">{{ "En mode orfèvre (team #Hermès plutôt que team #Shein), nous sculptons l’outil qui répond à votre besoin… pas à celui de votre voisin."|trans }}</p>

					<p class="texte-intro-2 mb-2">{{ "Et parce que nous ne sommes pas des marchands de vent, nous nous intégrons quand c’est pertinent les meilleures solutions existantes pour garantir un budget juste et une performance optimale."|trans }}</p>


					<p class="texte-intro-2 bold">{{ "Créer un site ou une plateforme attrayante, c’est simple et rapide."|trans }}</p>
					<p class="texte-intro-2 bold">{{ "Créer un site ou une plateforme fonctionnelle, ergonomique, performante, sécurisée, évolutive… c’est Firstcom."|trans }}</p>
				</div>
			</div>

			<div class="row">
				<h2 class="mt-3 mb-5">{{ "LE DIGITAL ET LA TECH CHEZ FIRSTCOM, CE SONT DEUX EXPERTISES DISTINCTES :"|trans }}</h2>
			</div>
		</div>

		<div class="background-blue">
			<a href="{{ path('app_tech_digital_sites_web') }}" class="row div-part borderSolid" style="text-decoration:none;">
				<div class="col-xs-12 col-md-3 contact_part1">
					<img class="image-bandeau img-fluid" src="{{ asset('uploads/images/digital-web-eshop.webp') }}">
				</div>
				<div class="col-xs-12 col-md-6">
					<h3 class="h3-mini black">{{ "La création et la refonte de sites web vitrine et e-commerce"|trans }}</h3>
					<p class="texte-courant black">{{ "Créer un site web, c’est une affaire d’objectifs, de CMS et de frameworks, de mécanique, de référencement naturel, d’engagement, d’UX, de RGPD, de sécurité, de contenus, d’image, de vitesse de chargement, de datas, de conversion, de charte graphique, de scalabilité... On continue ? Bref, c’est une affaire complexe, une affaire d’experts."|trans }}</p>
				</div>
				<div class="col-xs-12 col-md-3 fleche-info ">
					<p class="cartouche_info">{{ "On vous présente notre équipe ?"|trans }}</p>
					<div class="fleche-info">
						<img src="{{ asset('uploads/images/fleche-gris60.png') }}">
					</div>
				</div>
			</a>

			<a href="{{ path('app_tech_digital_digitalisation') }}" class="row div-part" style="text-decoration:none;">
				<div class="col-sm-12 col-md-3 contact_part1">
					<img class="image-bandeau img-fluid" src="{{ asset('uploads/images/digital-digitalisation.webp') }}">
				</div>
				<div class="col-sm-12 col-md-6">
					<h3 class="h3-mini black">{{ "La digitalisation de métiers et de process"|trans }}</h3>
					<p class="texte-courant black">{{ "Intégrer de la tech dans la vie de son entreprise, c’est augmenter l’efficacité et la productivité de ses collaborateurs, réduire les coûts de production, améliorer la précision et la qualité des tâches, bref innover et devenir plus performant."|trans }}</p>
				</div>
				<div class="col-sm-12 col-md-3 fleche-info">
					<p class="cartouche_info">{{ "Même Lénine s'y intéresserait."|trans }}<br>{{ "Et vous ?"|trans }}</p>
					<div class="fleche-info">
						<img src="{{ asset('uploads/images/fleche-gris60.png') }}">
					</div>
				</div>
			</a>
		</div>


	{% endblock %}
