{% extends 'base.html.twig' %}

{% block meta_description %}
    <meta name="description" content="Firstcom vous accompagne dans la création ou la refonte de votre site web, en assurant design, UX/UI, et référencement pour des performances optimales">
{% endblock %}

{% block title %}
Créer ou Refondre Votre Site Web avec les Experts de Firstcom
{% endblock %}

{% block body %}

	<section id="container6">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-4 col-12">
				<img class="image-principale" src="{{ asset('uploads/images/digital-web-eshop.webp') }}">
			</div>
			<div class="col-md-4 col-12">
				<div class="fil_ariane">
					<a href="{{ path('app_home') }}">FIRSTCOM</a>
					|
					<a href="{{ path('app_tech_digital') }}">TECH & DIGITAL</a>
					|
					<span>SITES WEB</span>
				</div>

				<h1 class="card-title sous-titre black">LE SITE WEB, LE COEUR DU RÉACTEUR</h1>

				<p class="texte-intro">On y découvre une marque, on y vide son compte en banque, on y compare des sneakers, on y cherche un logement, l’âme soeur ou son pisciniste.<p/></p>
				<p class="texte-intro">On le quitte, on le trompe avec les réseaux sociaux ou autres plateformes vidéo, mais comme dirait Mireille Mathieu, un site web, on y revient toujours. Alors autant s’entourer d’experts pour sa création ou sa refonte.</p>
			</div>
		</div>
	</section>

	<section class="mask_contact">
		<img src="{{ asset('uploads/images/fl23.png') }}">
	</section>

	<div class="container-medium">
		<div class="row borderSolid">
			<div class="col-sm-12 col-md-12 mb-4">
				<h2>Le site web, c’est souvent la première vitrine d’une entreprise ou d’une marque.</h2>
			</div>

			<div class="row borderSolid">
				<div class="col-12">
					<p>Alors bien sûr, la vitrine doit être attirante comme une Marseillaise à Dubaï, et ça, nos webmasters savent bien faire !</p>
					<p>Mais un site web qui performe, c’est une affaire de CMS, de frameworks, d’UX / UI, d’engagement, de référencement naturel, de contenu, de vitesse de chargement, d’hébergement, etc., bref, c’est compliqué.</p>
					<p>Car ce n’est pas la forme qui va faire rester et / ou consommer les internautes sur le site, mais bien les mille et une expertises mises au service de sa conception (ou sa refonte), de son analyse, de sa performance.</p>
				</div>
			</div>
			<div class="col-sm-12 col-md-12 mt-5 mb-4">
				<h3>Pour ce type de projets de grande ampleur, Firstcom vous propose une méthode de travail rigoureuse </h3>
			</div>
		</div>
	</div>

	<div class="background-blue row">
		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull p-5" style="text-decoration:none;">
			<div class="row">
				<div class="col-12">
					<p class="gros_chiffre_alt">01</p>
				</div>
				<div class="col-12">
					<h3 class="h3-mini">On découvre votre entreprise, son marché, on cerne vos objectifs et votre audience</h3>
					<p class="texte-courant">Parce que nous ne concevons pas le même site pour une PME, un grand Groupe ou une enseigne aux multiples points de vente. De même si vous souhaitez vendre vos produits à un millénnial, générer des leads d’un boomer, ou juste montrer à la terre entière quel point vous êtes beaux.</p>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull p-5" style="text-decoration:none;">
			<div class="row">
				<div class="col-12">
					<p class="gros_chiffre_alt">02</p>
				</div>
				<div class="col-12 ">
					<h3 class="h3-mini">On soulève le capot du site existant</h3>
					<p class="texte-courant">En cas de sites web à refondre, on soulève le capot de l’existant pour savoir ce qui sera récupérable et ce qu’il faudra refaire, ce qui fonctionne et ce qui est obsolète, afin de proposer le budget le plus ajusté.</p>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull p-5" style="text-decoration:none;">
			<div class="row">
				<div class="col-12">
					<p class="gros_chiffre_alt">03</p>
				</div>
				<div class="col-12">
					<h3 class="h3-mini">On s’attaque au cahier des charges</h3>
					<p class="texte-courant">Le cahier des charges représente la bible de la création ou de la refonte : CMS, API de paiement, arborescence, bref, tout y passe, et on y glisse même notre devis
						<span>&#128521;</span>
					</p>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull p-5" style="text-decoration:none;">
			<div class="row">
				<div class="col-12">
					<p class="gros_chiffre_alt">04</p>
				</div>
				<div class="col-12">
					<h3 class="h3-mini">On crée le site</h3>
					<p class="texte-courant">Le rédacteur s’attaque à la création d’un contenu pertinent pour l’internaute, et optimisé pour le SEO.</p>
					<p class="texte-courant">Selon le type de site, le CMS choisi, nos webmasters proposent des mockup (maquettes fonctionnelles) qui définissent la charte graphique bien sûr mais surtout l’UX/UI du site.</p>
					<p class="texte-courant">Les développeurs rentrent en scène et s’attaquent au front-end (visible) et back-end caché, on intègre parfois les maquettes, la gestion de la RGPD, etc.</p>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull p-5" style="text-decoration:none;">
			<div class="row">
				<div class="col-12">
					<p class="gros_chiffre_alt">05</p>
				</div>
				<div class="col-12">
					<h3 class="h3-mini">On met en production</h3>
					<p class="texte-courant">Quand le site est validé, toutes les pages, formulaires, fonctionnalités, compatibilités sont testées, les outils d’analyse sont connectés, et le site est enfin mis en production.</p>
					<p class="texte-courant">Pendant quelques jours, on suit son évolution et ses performances pour identifier d’éventuels axes d’amélioration.</p>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull align-items-center p-5" style="text-decoration:none;">
			<div class="row">
				<div class="col-12 align-items-center">
					<h3 class="h3-mini">ET ENSUITE :<br>
						ET BIEN ON ASSURE LA MAINTENANCE MENSUELLE, LE
						<a class="black" href="{{ path('app_referencement_naturel_seo') }}">RÉFÉRENCEMENT NATUREL</a>, ON DÉBUTE DES
						<a class="black" href="{{ path('app_campagnes_digitales') }}">CAMPAGNES D’ACQUISITION</a>, ET SANS CESSE, ON AMÉLIORE.</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="container-medium my-5">
		<div class="row borderSolid">
            <div class="col-md-4 col-12">
                <img class="image-principale" src="{{ asset('uploads/images/save-planet-black.webp') }}">
            </div>
            <div class="col-md-8 col-12">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h3>ET POURQUOI PAS UN SITE ECO-CONÇU ?</h3>
                    </div>

                    <div class="row borderSolid">
                        <div class="col-12">
                            <p class="mb-3">Que vous ayez (ou pas) choisi de réduire l’empreinte carbone de votre entreprise, créer un site éco-conçu se révèle toujours être un choix judicieux, pour des raisons environnementales bien sûr, mais aussi stratégiques et économiques.</p>

                            <p>On s’explique.</p>
                            <p class="mb-3">Un site éco-conçu est un site web designé, développé et hébergé de manière à minimiser son empreinte environnementale.</p>

                            <p>Le site éco-conçu présente bien d’autres atouts :</p>
                            <ul class="mb-3">
                                <li>Il permet d’améliorer l’expérience utilisateur, donc l’engagement et la conversion grâce à des interfaces et images légères.</li>
                                <li>Il est favorisé par Google dans ses critères de référencement naturel.</li>
                                <li>Les coûts d’hébergement sont réduits car le site éco-conçu nécessite moins de ressources serveur.</li>
                                <li>Il répond aux préoccupations des internautes, toujours plus sensibles aux questions environnementales, mais aussi à de probables futures réglementations.</li>
                                <li>Il vous positionne comme une entreprise innovante et engagée.</li>
                            </ul>
                            <p>Pour info, le site Firstcom est éco-conçu, vous en pensez quoi ?</p>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>

{% endblock %}
