{% extends 'base.html.twig' %}

{% block title %}Conseil et stratégie
{% endblock %}

{% block body %}

	<section id="container3">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-4 col-12">
				<img class="image-principale" src="{{ asset('uploads/images/firstcom-conseil.webp') }}">
			</div>
			<div class="col-md-5 col-12">
				<div class="fil_ariane">
					<a href="{{ path('app_home') }}">FIRSTCOM</a>
					| 
					<span>CONSEIL ET STRATÉGIE</span>
				</div>

				<h1 class="card-title sous-titre black">ON A TOUS BESOIN D’UN MAZARIN À SES CÔTÉS</h1>

				<p class="texte-intro black mt-1">Faire face à une croissance trop rapide ou qui tend à s'essoufler.</p>
				<p class="texte-intro black mt-1">À un développement par opportunité pas focément bien anticipé.</p>
				<p class="texte-intro black mt-1 mb-2">À une crise qui surgit l'air de rien, le temps d'un simple tweet.</p>

				<p class="texte-intro-p black mt-2">Dirigeants et managers ont parfois besoin d’un regard extérieur sur leur business, leur structuration ou leur développement pour repartir de plus belle. Un regard impartial, dépourvu d'affect, capable d’analyser le marché et ses opportunités, l’offre proposée et la pertinence du go-to-market.</p>
			</div>
		</div>
		<div></div>
	</section>

	<section class="mask_contact">
		<img src="{{ asset('uploads/images/fl23.png') }}">
	</section>

	<div class="container-medium">
		<div class="row borderSolid">
			<div class="col-sm-12 col-md-12 mb-5">
				<h2>FIRSTCOM VOUS ACCOMPAGNE POUR DES MISSIONS DE CONSEIL STRATÉGIQUE</h2>
			</div>
		</div>
	</div>

	<div class="background-lgtgreen">
		<a href="{{ path('app_consulting_et_developpement') }}" class="row div-part borderSolid" style="text-decoration:none;">
			<div class="col-xs-12 col-md-3 contact_part1">
				<img class="image-bandeau img-fluid" src="{{ asset('uploads/images/consulting.webp') }}">
			</div>
			<div class="col-xs-12 col-md-6">
				<h3 class="card-title-home">CONSULTING & DÉVELOPPEMENT</h3>
				<p class="card-text-home">COMMENT POSITIONNER SON ENTREPRISE DANS UN MARCHÉ CONCURRENTIEL ? PAR QUELLES ÉTAPES DÉBUTER OU ACCÉLÉRER SON DÉVELOPPEMENT ? À QUEL PUBLIC S'ADRESSER EN PRIORITÉ ?</p>
				<p class="card-text-mini-home">Fous des jeux d'échecs et du jeu de Go, bref de stratégie, nos experts-conseil se jettent à corps perdu dans votre business pour vous replacer sur l’autoroute de la croissance.</p>
			</div>
			<div class="col-xs-12 col-md-3 fleche-info ">
				<p class="cartouche_info">On discute de vos ambitions ?</p>
				<div class="fleche-info">
					<img src="https://zupimages.net/up/23/28/vj4w.png">
				</div>
			</div>
		</a>
		<a href="{{ path('app_marketing_de_loffre') }}" class="row div-part borderSolid" style="text-decoration:none;">
			<div class="col-sm-12 col-md-3 contact_part1">
				<img class="image-bandeau img-fluid" src="{{ asset('uploads/images/marketing.webp') }}">
			</div>
			<div class="col-sm-12 col-md-6">
				<h3 class="card-title-home">MARKETING DE L’OFFRE</h3>
				<p class="card-text-home"> UNE OFFRE MAL CALIBRÉE NE SERA PAS ADOPTÉE. UNE OFFRE MAL EXPRIMÉE NE SERA PAS ÉCOUTÉE. UNE OFFRE TROP FOISONNANTE VOUS FERA CHUTER.</p>
				<p class="card-text-mini-home">Créer l’offre est loin d’être aisé, mais c’est un enjeu majeur.</p>
			</div>
			<div class="col-sm-12 col-md-3 fleche-info">
				<p class="cartouche_info">On vous fait une offre ?</p>
				<div class="fleche-info">
					<img src="https://zupimages.net/up/23/28/vj4w.png">
				</div>
			</div>
		</a>


		<a href="{{ path('app_crise') }}" class="row div-part borderSolid lien-actif-x" style="text-decoration:none;">
			<div class="col-sm-12 col-md-3 contact_part1">
				<img class="image-bandeau img-fluid" src="{{ asset('uploads/images/com-crise.webp') }}">
			</div>
			<div class="col-sm-12 col-md-6">
				<h3 class="card-title-home">COMMUNICATION DE CRISE</h3>
				<p class="card-text-home">IL SUFFIT D’UN TWEET. D’UNE LIGNE DANS UN DÉCRET. D’UNE ERREUR HUMAINE. D’UN PETIT RIEN QUI FAIT UN IMMENSE TOUT. UNE CRISE FACE À LAQUELLE IL FAUT SAVOIR GARDER LA TÊTE FROIDE ET DONNER UNE RÉPONSE ADAPTÉE.</p>
				<p class="card-text-mini-home">
					Si l'on vous dit que pour un client, nous avons saturé et bloqué les boîtes mail des députés de l'Assemblée Nationale…</p>
			</div>
			<div class="col-sm-12 col-md-3 fleche-info">
				<p class="cartouche_info">On vous présente nos experts ?</p>
				<div class="" href="{{ path('app_crise') }}">
					<img src="https://zupimages.net/up/23/28/vj4w.png">
				</div>
			</div>
		</a>
	</div>


{% endblock %}
