{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block meta_description %}
	<meta name="description" content="{{ metaDescription }}">
{% endblock %}

{% block body %}


	<style>
		.background-article {
			height: 98vh;
		}

		.background-article {
			position: relative;
		}

		.background-article::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.3);
			z-index: 1;
		}

		.background-article > * {
			position: relative;
			z-index: 2;
		}

		.article-lancement h1 {
			font-size: 40px;
			font-weight: 800;
			margin: 0;
			text-align: left;
			width: 100%;
		}

		.article-contenu p {
			font-size: 14px;
		}

		.article-contenu h2 {
			font-size: 18px;
			color: #96A596;
			font-weight: 700;
		}

		.article-contenu h3 {
			font-size: 16px;
			font-weight: 700;
		}

		.article-contenu h4 {
			font-size: 16px;
			font-weight: 700;
		}

		.article-contenu .list-blog li {
			font-size: 14px;
		}

		.article-img-contenu {
			width: 100%;
		}

		.article-fleche-contact {
			width: 20px;
			margin-right: 10px;
			position: relative;
			bottom: 1px;
		}

		a.article-contact {
			display: block;
			width: fit-content;
			text-decoration: none;
			font-weight: 700;
			color: #FFFFFF;
			background-color: #96A596;
			padding: 5px 12px;
		}

		.article-retour {
			width: fit-content;
			margin: 0 auto;
		}

		.article-retour a {
			text-decoration: none;
			font-weight: 700;
			color: #FFFFFF;
			background-color: #3C4141;
			padding: 5px 10px;
		}

		@media screen and(max-width: 991px) {
			.article-lancement h1 {
				font-size: 30px;
			}
		}

		.article-aside-img {
			height: 15vh;
		}

		.article-aside h2 {
			font-size: 18px;
			font-weight: 700;
		}

		.article-aside h3 {
			font-size: 16px;
			font-weight: 700;
		}

		.categories-aside a {
			display: block;
			width: fit-content;
			font-size: 14px;
			font-weight: 700;
			color: #FFFFFF;
			text-decoration: none;
			background-color: #96A596;
			padding: 2px 10px;
			margin-bottom: 6px;
		}

		.categories-aside a.toutes-categories {
			background-color: #3C4141;
		}
	</style>
	<div class="col-sm-12 col-md-12 p-5 background-article" style="background-image: url('{{ asset('uploads/images/' ~ article.imgXL) }}'); background-repeat: no-repeat; background-size: cover; background-position: center; display: flex; justify-content: center; align-items: center;">
		<div class="container-medium">
			<div class="row">
				<div class="col-sm-12 col-md-12 p-4 p-sm-5 article-lancement">
					<div class="fil_ariane">
						<a href="{{ path('app_home') }}">FIRSTCOM</a>
						|
						<a href="{{ path('app_blog') }}">BLOG</a>
						|
						<span>ARTICLE EXCLUSIF</span>
					</div>
					<h1 class="writeWhite mb-3">{{ article.titre | raw}}</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="container-medium">
		<div class="row">
			<div class="col-12 col-md-12 col-xl-8 pt-5 pb-2">
				<div class="row">
					<div class="col-12">
						<div class="infos mb-3">
							<span class="date">{{ article.dateCreation | date('d m Y') }}</span>
							{% for categorie in article.categorie %}
								<span class="categories">{{ categorie.nom }}</span>
							{% endfor %}
						</div>
					</div>
					<div class="col-12 article-contenu">
						<div class="row">
							<div class="col-12">
								{{ article.Contenu | raw}}
							</div>

							{% if article.ImgContenu %}
								<div class="col-12">
									<img class="article-img-contenu" src="{{ asset('uploads/images/' ~ article.ImgContenu) }}">
								</div>
							{% endif %}

							{% if article.Contenu2 %}
								<div class="col-12">
									{{ article.Contenu2 | raw}}
								</div>
							{% endif %}
						</div>

					</div>

					<div class="col-12 mb-4">
						<a href="{{ path('app_contact') }}" class="article-contact"><img class="article-fleche-contact" src="{{ asset('uploads/images/fleche-right-white.webp') }}">{{ "Contactez-nous pour une analyse et des recommandations sur mesure"|trans }}</a>
					</div>
					<div class="col-12 mt-5 mb-5">
						<div class="article-retour">
							<img class="article-fleche-contact" src="{{ asset('uploads/images/fleche-left.webp') }}">
							<a href="{{ path('app_blog') }}" class="article-retour">{{ "TOUS LES ARTICLES"|trans }}</a>
						</div>
					</div>
				</div>
			</div>

			<div class="article-aside col-12 col-md-12 col-xl-4 py-5">
				<div class="row">

					<div class="col-12">
						<h2>{{ "ARTICLES RECENTS"|trans }}</h2>

						{% for dernierArticle in derniersArticles %}
							<a href="{{ path('app_article_show', { 'id': dernierArticle.id, 'slug': dernierArticle.titre | striptags | slug | lower }) }}" class="text-decoration-none">
								<div class="col-12 mt-3 mb-4">
									<div class="article-aside-img" style="background-image: url('{{ asset('uploads/images/' ~ dernierArticle.imgS) }}'); background-repeat: no-repeat; background-size: cover; background-position: center; display: flex; justify-content: center; align-items: center;"></div>
									<div class="infos mt-2">
										<span class="date">{{ dernierArticle.dateCreation | date('d m Y') }}</span>
										{% for categorie in dernierArticle.categorie %}
											<span class="categories">{{ categorie.nom }}</span>
										{% endfor %}
									</div>
									<div class="article-aside-titre mt-2">
										<h3>{{ dernierArticle.titre | raw }}</h3>
									</div>
								</div>
							</a>
						{% endfor %}
					</div>

					<div class="col-12 border-top border-secondary"></div>

					<div class="col-12">
						<h2 class="mt-4 mb-3">{{ "CATÉGORIES"|trans }}</h2>
						<div class="categories-aside">
							<a href="{{ path('app_blog') }}" class="toutes-categories">{{ "TOUTES LES CATÉGORIES"|trans }}</a>

							{% for categorie in categories %}
								<a href="{{ path('blog_filter_by_category', {'categoryName': categorie.slug}) }}">{{ categorie.nom | upper }}</a>
							{% endfor %}
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}
